.messagesContainer {
  height: calc(100% - 38px);
  background: #efefef;
  overflow-y: auto;
  margin: 0 0 5% 0;
}

.message {
  margin: 20px;
}

.message.robot {
  text-align: right;
}

.message.robot > .message_content {
  background-color: grey;
  color: #000000;
}

.message > .message_content {
  display: inline-block;
  background-color: blue;
  color: #ffffff;
  padding: 10px;
  border-radius: 7px;
}